html, body {
	font-family: Tahoma;
}

.slide { 
  background-image:url('classy_fabric.png'); 
  color: white;
  text-shadow: 1px 1px 1px #777;
}

a:visited {
  color: blue;
}

/* Provide a big centered box to highlight the paragraph */

.quote p, .points p {
  margin: auto 200px;
  padding: 30px;
  background-image:url('cross_scratches.png'); 
  border-radius :15px;
  color: black;  
}

.points h2 {
  text-align: left;
  margin-left: 40px;
}

.countdown h2 {
  font-size: 30px;
  text-align: left;
  margin-left: 40px;
  padding: 20px 0px 0px 50px;
  height: 50px;
  background: url('images/tag.png') no-repeat;
}